{% extends 'base.html' %}
{% block content %}
    <div class="d-flex flex-row justify-content-between my-4">
        <p class="mb-0 align-self-center">order_id: {{ order.id }}</p>
        <div>
            <a class="btn btn-primary" href="{% url 'sajjang_store_order' store.id %}">가게 전체 주문 리스트</a>
        </div>
    </div>
    <table class="table border text-center">
        <thead>
            <tr>
                <th scope="col">메뉴 이름</th>
                <th scope="col">가격</th>
                <th scope="col">주문 수량</th>
                <th scope="col">개별 총합</th>
            </tr>
        </thead>
        {% for cart in cart_in_order %}
            <tbody>
                <td>{{ cart.menu_id.name }}</td>
                <td>{{ cart.menu_id.unit_price }}</td>
                <td>{{ cart.quantity }}</td>
                <td>{% widthratio cart.menu_id.unit_price 1 cart.quantity %}</td>
            </tbody>
        {% endfor %}
    </table>
    <p>전체 총합: {{ order.total_price }}</p>
{% endblock %}