{% extends 'base.html' %}
{% block content %}
    <div class="d-flex flex-row justify-content-between my-4">
        <p class="mb-0 align-self-center">가게 이름: {{ store.name }}</p>
        <div>
            <a class="btn btn-primary" href="{% url 'sajjang_store_detail' store.id %}">가게 상세페이지</a>
        </div>
    </div>
    {% for order in orders %}
        <div class="border rounded my-2 p-3" onclick="location.href='{% url 'sajjang_order_detail' store.id order.id %}'" style="cursor: pointer;">
            <p>order_id: {{ order.id }}</p>
            <p>customer_address: {{ order.address_id.address }}</p>
            <p>total_price: {{ order.total_price }}</p>
            <p class="mb-0">paid_status: {{ order.paid_status }}</p>
        </div>
    {% empty %}
        <p>들어온 주문이 없습니다!</p>
    {% endfor %}
{% endblock%}