{% extends "base.html" %}

{% block title %}
    Customer
{% endblock title%}

{% block content %}
    <div class="d-flex flex-row justify-content-between my-3">
        <div>
            {% if request.user.username %}
                <h3 class="mb-0 align-self-center">{{ request.user.username }}</h3>
            {% else %}
                <p class="mb-0 align-self-center">username을 불러올 수 없습니다.</p>
            {% endif %}
        </div>
        <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i>&nbsp;Menu
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{% url 'customer:customer_home' %}"><i class="bi bi-house"></i>&nbsp;Home</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'customer:customer_address' %}"><i class="bi bi-building"></i>&nbsp;Address</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'customer:customer_cart' %}"><i class="bi bi-bag"></i>&nbsp;Cart</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'customer:customer_orders' %}"><i class="bi bi-receipt"></i>&nbsp;Order</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <input class="dropdown-item" type="submit" value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </div>        
{% endblock content %}