{% extends "base.html" %}

{% block content %}

<div>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="로그아웃">
    </form>
    <p>{{ request.user.username }}
    <a href="{% url 'customer:customer_address' %}">Cart</a>
    <a href="{% url 'customer:customer_orders' %}">Order</a>
    
</div>
<div>
    <div>
        <p>카테고리</p>
        {% for category in categories %}

            <div>{{ category.name }}</div>

        {% endfor %}
    </div>
    <div>
        <p>식당</p>
        {% for store in stores %}

            <div>{{ store.name }}</div>

        {% endfor %}
    </div>
</div>

{% endblock content %}