{% extends 'sajjang_base.html' %}
{% block content %}
    {{ block.super }}
    <div class="d-flex flex-row justify-content-between">
        <h3>Menu Edit Page</h3>
    </div>
    <form method="post" action="" class="my-3">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="name">Menu Name:</label>
            <input class="form-control" type="text" name="name" id="name" value={{ menu.name }}>
        </div>
        <div class="mb-3">
            <label class="form-label" for="unit_price">Unit Price:</label>
            <input class="form-control" type="text" name="unit_price" id="unit_price" value={{ menu.unit_price }}>
        </div>
        <div class="mb-3">
            <label class="input-group-text" for="menu_pic">Picture</label>
            <input type="file" class="form-control" name="menu_pic" id="menu_pic" value={{ menu.menu_pic }}>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="category">Category</label>
            <select class="form-select" name="category" id="category">
            <option selected>Choose...</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == selected_category.id %}selected{% endif %} >{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-check-label" for="is_available">Is Available:</label>
            <input class="form-check-input" type="checkbox"  name="is_available" id="is_available" value=True checked>
        </div>
        <div class="d-grid justify-content-end">
            <button class="btn btn-primary" type="submit">Edit</button>
        </div>
    </form>
{% endblock %}