{% extends 'sajjang_base.html' %}

{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
    <div class="my-3">
        <a href="javascript:history.back();" class="text-dark"><i class="bi bi-arrow-left-circle fs-3"></i></a>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-between">
        <p class="mb-0">가게 이름: {{ store.name }}</p>
        <div>
            <a class="btn btn-primary" href="{% url 'sajjang:sajjang_add_menu' store.id %}">메뉴 추가</a>
        </div>
    </div>
    <div>
        {% for menu in menus %}
            <div class="border my-2 py-2 d-flex flex-row" onclick="location.href='{% url 'sajjang:sajjang_store_menu_detail' store.id menu.id %}'" style="cursor: pointer;">
                <div>
                    {% if menu.menu_pic %}
                        {% comment %} <img src={{  menu.menu_pic }} class="rounded float-start mx-3 bg-secondary" alt="" style="width: 50px; height:50px;"> {% endcomment %}
                        <img src="{% static '/images/menu_default.png' %}" class="rounded float-start mx-3 bg-secondary" alt="" style="width: 50px; height:50px;">
                    {% else %}
                        <img src="{% static '/images/menu_default.png' %}" class="rounded float-start mx-3 bg-secondary" alt="No img" style="width: 50px; height:50px;">
                    {% endif %}
                </div>
                <p class="mb-0 align-self-center">{{ menu.name }}</p>
            </div>
        {% empty %}
            <p>등록된 메뉴가 없습니다!</p>
        {% endfor %}
    </div>
{% endblock%}