{% extends "customer_base.html" %}
{% load static %}
{% load humanize %}
{% block back %}
    <a href="javascript:history.back();" class="text-dark"><i class="bi bi-arrow-left-circle fs-3"></i></a>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h3><i class="bi bi-bag fs-2"></i>&nbsp;Cart</h3>
    <div>
        {% for store in carts %}
            <div class="mt-4">
                <h3>{{ store.store_name.name }}</h3>
                <div class="list-group">
                    {% for cart_in_store in store.carts %}
                        <div id="cart_{{ cart_in_store.id }}" class="list-group-item">
                            <div class="d-flex flex-row position-relative">
                                <div class="m-2">
                                    <img src="{{ cart_in_store.menu_id.menu_pic }}" alt="..." class="rounded" style="width: 100px; height: 100px;">
                                </div>
                                <div class="m-3">
                                    <h4>{{ cart_in_store.menu_id.name }}</h4>
                                    <p class="mb-0">가격: {{ cart_in_store.menu_id.unit_price}}</p>
                                    <div class="d-flex flex-row align-items-center">
                                        <span>수량</span>    
                                        <button class="btn" onclick="quantity_up_click({{ cart_in_store.id }})"><i class="bi bi-plus-circle"></i></button>
                                        <span id="quantity_{{ cart_in_store.id }}">{{ cart_in_store.quantity }}</span>
                                        <button class="btn" onclick="quantity_down_click({{ cart_in_store.id }})"><i class="bi bi-dash-circle"></i></button>
                                    </div>
                                </div>
                                <button onclick="delete_button_click({{ cart_in_store.id }})" class="position-absolute top-0 end-0" style="background: none; border: none;"><i class="bi bi-trash fs-5"></i></button>
                                <span id="total_price_{{ cart_in_store.id }}" class="position-absolute bottom-0 end-0">{{ cart_in_store.get_total_price|intcomma }}원</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-row justify-content-end mt-2">
                        <a class="btn btn-primary" href="{% url 'customer:customer_order_create' store_id=store.store_name.pk %}">주문하기</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>

        function numberWithCommas(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        
        async function delete_button_click(cart_id){
            const form = new FormData();
            form.append('mode', 'delete');
            form.append('cart_id', cart_id);
            
            fetch("", {
                method: "POST",
                body: form
            })
            .then(response => {
                return response.json();
            })
            .then((data) => {
                if (data['Success'] === true){
                    const node = document.getElementById('cart_'+cart_id)
                    const parent_node = node.parentNode
                    node.remove();
                    if (parent_node.querySelectorAll("div[id^='cart_']").length === 0) {
                        parent_node.parentNode.remove()
                    }
                }
            });
        }

        async function quantity_up_click(cart_id){
            const form = new FormData();
            form.append('mode', 'quantity_up');
            form.append('cart_id', cart_id);
            
            fetch("", {
                method: "POST",
                body: form
            })
            .then(response => {
                return response.json();
            })
            .then((data) => {
                if (data['Success'] === true){
                    document.getElementById('quantity_'+cart_id).innerHTML = data["quantity"];
                    document.getElementById('total_price_'+cart_id).innerHTML = numberWithCommas(data["total_price"])+'원';
                }
            });            
        }

        async function quantity_down_click(cart_id){
            const form = new FormData();
            form.append('mode', 'quantity_down');
            form.append('cart_id', cart_id);
            
            fetch("", {
                method: "POST",
                body: form
            })
            .then(response => {
                return response.json();
            })
            .then((data) => {
                if (data['Success'] === true){
                    document.getElementById('quantity_'+cart_id).innerHTML = data["quantity"];
                    document.getElementById('total_price_'+cart_id).innerHTML = numberWithCommas(data["total_price"])+'원';
                }
            });            
        }        

    </script>



{% endblock content %}