{% extends "base.html" %}

{% block content %}
    <div class="d-flex flex-row justify-content-between">
        <h3>My Address</h3>
        <div>
            <a class="btn btn-primary" href="{% url 'customer:customer_address_add' %}">주소 추가하기</a>
            <a class="btn btn-primary" href="{% url 'customer:customer_home' %}">홈으로</a>
        </div>
    </div>
    <div>
        {% for address in addresses %}
            <ul class="list-group my-2">
                <li class="list-group-item">{{ address.address_name }}</li>
                <li class="list-group-item">{{ address.address}}</li>
            </ul>
        {% empty %}
            <p>There is no addresses</p>
        {% endfor %}
    </div>
{% endblock content %}