{% extends "base.html" %}
{% load static %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Sign Up</h2>
            <form action="" method="POST" class="mt-5">
                {% csrf_token %}
                
                <!-- Username Field -->
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                </div>

                <!-- Password Fields -->
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                    {{ form.password2 }}
                </div>

                <!-- Group Field -->
                <div class="form-group">
                    <label for="{{ form.group.id_for_label }}">Group</label>
                    {{ form.group }}
                </div>

                <div class="form-group text-center mt-3">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
            <div class="text-center mt-3">
                <button onclick="location.href='/account/signin'" class="btn btn-secondary">Go to Login In</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
