{% extends "base.html" %}

{% load static %}

{% block title %}
    Sajjang Home
{% endblock title %}

{% block content %}
    <div class="d-flex flex-row justify-content-between">
        {% if request.user.username %}
            <p class="mb-0 align-self-center">{{ request.user.username }}</p>
        {% else %}
            <p class="mb-0 align-self-center">username을 불러올 수 없습니다.</p>
        {% endif %}
        <div>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="로그아웃">
            </form>
        </div>
    </div>

    <div class="d-grid btn btn-info my-4" onclick="location.href='{% url 'sajjang:sajjang_store_add' %}'" style="cursor: pointer;">가게 등록</div>

    <div>
        <h4>가게 리스트</h4>
        {% for store in stores %}
            <div class="border my-2 py-2 d-flex flex-row" onclick="location.href='{% url 'sajjang:sajjang_store_detail' store.id %}'" style="cursor: pointer;">
                <div>
                    {% if store.store_pic %}
                        <img src="..." class="rounded float-start mx-3 bg-secondary" alt="" style="width: 50px; height:50px;">
                    {% else %}
                        <img src="..." class="rounded float-start mx-3 bg-secondary" alt="No img" style="width: 50px; height:50px;">
                    {% endif %}
                </div>
                <p class="mb-0 align-self-center">{{ store.name }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}