{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Cart</h1>
    <div>
        {% for store in stores %}
            <div class="border mt-4">
                <h3>{{ store.store_name }}</h3>
                {% for cart_in_store in store.carts %}
                    <div class="border">
                        <button>X</button>
                        <img src={% static 'images/img_onerror.jpeg' %}>
                        <p>{{ cart_in_store.menu_id.name }}</p>
                        <p>{{ cart_in_store.quantity }}</p><button>+</button><button>-</button>
                        <p>{{ cart_in_store.get_total_price }}￦</p>
                    </div>
                {% endfor %}
            </div>
            
        {% endfor %}
    </div>
    <div>
        <p>총 가격 : {{ total_price }}</p>
    </div>
    <div>
        <label>
        <select name='select_address'>
            {% for address in addresses %}
                <option value="{{ address.id }}">{{ address.address }}</option>
            {% endfor %}
        </select>
    </div>
    <form action="{% url 'customer:customer_payment' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="결제하기">
    </form>


{% endblock content %}