{% extends "base.html" %}

{% block content %}

<div><a href="{% url 'customer:customer_home' %}"><h1><</h1></a></div>
<div><h1>My Order</h1></div>
<div>
    {% for order in orders %}
    <a href="{% url 'customer:customer_order_detail' order_id=order.id %}">
        <div>
            <p>#{{ order.id }}</p>
            <p>{{ order.created_at }}</p>
            <p>{{ order.address_id_id }}</p>
            <p>$ {{ order.total_price }}</p>
            
        </div>    
    </a>
    {% endfor %}

</div>

{% endblock content %}
