{% extends "customer_base.html" %}
{% load humanize %}
{% block back %}
    <a href="{% url 'customer:customer_home' %}" class="text-dark"><i class="bi bi-arrow-left-circle fs-3"></i></a>
{% endblock %}
{% block content %}
    {{ block.super }}
    <h3 class="mb-3"><i class="bi bi-receipt fs-2"></i>&nbsp;Order list</h3>
    {% for order in orders %}
        <div class="border rounded my-2 p-3" onclick="location.href='{% url 'customer:customer_order_detail' order.id %}'" style="cursor:pointer">
            <p class="mb-0">주문번호 : #{{ order.id }}</p>
            <p class="mb-0">가게 이름 : {{ order.store_id.name}}</p>
            <p class="mb-0">주소 : {{ order.address_id.address}}</p>
            <p class="mb-0">주문 날짜 : {{ order.created_at }}</p>
            <p class="mb-0">총 가격 : {{ order.total_price|intcomma }}원</p>
            <p class="mb-0">
                {% if order.order_status == "paid" %}
                    결제 완료
                {% elif order.order_status == "created" %}
                    결제되지 않음
                {% elif order.order_status == "sajjang_accepted" %}
                    조리 중
                {% elif order.order_status == "sajjang_rejected" %}
                    주문 거절 됨
                {% elif order.order_status == "crew_accepted" %}
                    기사님 배정 됨
                {% elif order.order_status == "delivery_in_progress" %}
                    배달 중&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소요시간 : {{ order.eta }}분
                {% elif order.order_status == "delivered" %}
                    배달 완료
                {% endif %}
            </p>
        </div>
    {% endfor %}
{% endblock content %}