{% extends "customer_base.html" %}
{% load humanize %}
{% block content %}
    <div class="mb-3">
        <a href="{% url 'customer:customer_home' %}" class="text-dark"><i class="bi bi-arrow-left-circle fs-3"></i></a>
    </div>
    <h3 class="mb-3"><i class="bi bi-receipt fs-2"></i>&nbsp;Order list</h3>
    {% for order in orders %}
        <div class="border rounded p-3" onclick="location.href='{% url 'customer:customer_order_detail' order.id %}'" style="cursor:pointer">
            <div>
                주문번호 : #{{ order.id }}
            </div>
            <div>
                가게 이름 : {{ order.store_id.name}}
            </div>
            <div>
                주소 : {{ order.address_id.address}}
            </div>
            <div>
                주문 날짜 : {{ order.created_at }}
            </div>
            <div>
                총 가격 : {{ order.total_price|intcomma }}원
            </div>
            <div>
                {% if order.order_status == "paid" %}
                    결제 완료
                {% elif order.order_status == "created" %}
                    결제되지 않음
                {% elif order.order_status == "sajjang_accepted" %}
                    조리 중
                {% elif order.order_status == "sajjang_rejected" %}
                    주문 거절 됨
                {% elif order.order_status == "crew_accepted" %}
                    기사님 배정 됨
                {% elif order.order_status == "delivery_in_progress" %}
                    배달 중
                {% elif order.order_status == "delivered" %}
                    배달 완료
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}