<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Delivery Crew
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="container p-3">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        // 금액 포맷팅
        document.addEventListener("DOMContentLoaded", function(){
            const priceElements = document.querySelectorAll(".price");
            priceElements.forEach(function(e) {
                const price = parseInt(e.innerText.replace("Total Price: ", ""), 10);
                e.innerText = "Total Price: " + price.toLocaleString("ko-KR");
            });
        });


        // 시간 포맷팅
        function parseAndFormatTime(dateString) {
            // "Oct. 11, 2023, 2:30 a.m." 형태를 전환해보자 + 분이 00 분인 경우 5 a.m. 이런 식으로 나오니 이부분도 해결해야 함
            console.log(dateString)
            const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            let [month, day, year, time, period] = dateString.replace('.', '').split(/[\s,]+/);
        
            // 월을 숫자로 변환
            month = months.indexOf(month) + 1;
            
            // 시간을 24시간 형태로 변환
            // let minute = '00'
            let [hour, minute = "00"] = time.split(':');
            hour = parseInt(hour, 10);
            
            if (period.toLowerCase() === 'p.m.' && hour < 12) hour += 12;
            if (period.toLowerCase() === 'a.m.' && hour === 12) hour = 0;
            
            const formattedDate = `${String(year)}.${String(month).padStart(2, '0')}.${String(day).padStart(2, '0')}     ${String(hour).padStart(2, '0')}:${minute}`;
        
            return formattedDate;
        }
          
        document.addEventListener("DOMContentLoaded", function(){
            const type24Elements = document.querySelectorAll(".type24");

            type24Elements.forEach(function(e) {
                const rowTime = e.getAttribute("data-time");
                const formattedTime = parseAndFormatTime(rowTime);
                e.innerText = "Date: " + formattedTime;
            })
        })
          
    </script>

</body>
</html>