{% extends "del_crew_base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex flex-row justify-content-between my-2">
        <h3 class="mb-0 align-self-center">Delivery History</h3>
        <a href="/delivery_crew/home" class="align-self-center" style="text-decoration: none;"><i class="bi bi-house"></i>&nbsp;Go back to home</a>
    </div>
    <div class="row">
        {% if order_histories %}
            {% for order in order_histories %}
                <div class="col-md-4 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Order ID: {{ order.order_id.id }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Store: {{ order.order_id.store_id.name }}</h6>
                            <p class="card-text price">Total Price: {{ order.order_id.total_price }}</p>
                            <p class="card-text">Store Address: {{ order.order_id.store_id.address }}</p>
                            <p class="card-text">Customer Address: {{ order.order_id.address_id.address }}</p>
                            <p class="card-text type24" data-time="{{ order.created_at }}">{{ order.created_at }}</p>
                            {% if order.order_id.order_status == 'crew_accepted' %}
                                <form action="{% url 'delivery_crew:delivery_crew_pickup' order.order_id.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value="{{ order.order_id.id }}">
                                    <button type="submit" class="btn btn-success">배정 완료</button>
                                </form>
                                <form action="{% url 'delivery_crew:delivery_history_detail' order.order_id.id %}" method="get" class="mt-3">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-secondary">경로 보기</button>
                                </form>
                            {% elif order.order_id.order_status == 'delivery_in_progress' %}
                                <form action="{% url 'delivery_crew:delivery_crew_complete' order.order_id.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value="{{ order.order_id.id }}">
                                    <button type="submit" class="btn btn-primary">배달 중</button>
                                </form>
                            {% elif order.order_id.order_status == 'delivered' %}
                                <button type="button" class="btn btn-secondary" disabled>배달 완료</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="mt-3">You have no delivery history</p>
        {% endif %}
    </div>


{% endblock content %}