{% block content %}
    <div class="d-flex flex-row justify-content-between my-2">
        <h3 class="mb-0 align-self-center">Delivery Route</h3>
        <a href="/delivery_crew/home" class="align-self-center" style="text-decoration: none;"><i class="bi bi-house"></i>&nbsp;Go back to home</a>
    </div>
    <div class="row">
        <ul class="list-group my-4">
            <li class="list-group-item">Order ID: {{ order.id }}</li>
            <li class="list-group-item">Store: {{ order.store_id.name }}</li>
            <li class="list-group-item">Total Price: {{ order.total_price }}</li>
            <li class="list-group-item">Store Address: {{ order.store_id.address }}</li>
            <li class="list-group-item">Customer Address: {{ order.address_id.address }}</li>
            <li class="list-group-item" data-time="{{ order.created_at }}">{{ order.created_at }}</li>
        </ul>
    </div>

{% endblock content %}