{% extends "del_crew_base.html" %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
    <h1>Welcome, {{ user.username }}<h1>

    <form action="{% url 'logout' %}" method="post" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Log Out</button>
    </form>

    <a class="btn btn-primary mt-3" href="{% url 'delivery_crew:delivery_crew_history' %}">View My Accepted Deliveries</a>

    <h2>Pending Delivery Orders</h2>
    <div id="current-time"></div>
    <div class="row">
        {% for order in orders %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Order ID: {{ order.id }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Store: {{ order.store_id.name }}</h6>
                        <p class="card-text price">Total Price: {{ order.total_price }}</p>
                        <p class="card-text">{{ order.created_at | timesince }} ago</p>
                        <div class="d-flex justify-content-between">
                            <form action="{% url 'delivery_crew:delivery_crew_accept' order.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="order_id" value="{{ order.id }}">
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                            <form action="{% url 'delivery_crew:delivery_crew_deny' order.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="order_id" value="{{ order.id }}">
                                <button type="submit" class="btn btn-danger">Deny</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>

        function updateCurrentTime() {
            const now = new Date();
            const timeString = now.toLocaleTimeString();
            document.getElementById("current-time").innerText = "Current Time: " + timeString;
        }


        setInterval(updateCurrentTime, 1000);
        updateCurrentTime();

        
    </script>

{% endblock content %}