{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center my-4">
            {{ menus.name }}
        </div>
        <div class="d-flex justify-content-center my-4">
            <img src="{% static 'images/img_onerror.jpeg' %}">
        </div>

        <div class="d-flex justify-content-center my-4">
            {{ menus.name }}
        </div>
        <div class="d-flex justify-content-center my-4">
            {{ menus.unit_price|intcomma }} 원
        </div>
        <div class="d-flex justify-content-center my-4">
            {% if menus.is_available %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="장바구니에 넣기">
                </form>            
            {% else %}
                <p>이용불가능</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}