{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center text-center">
            <h3>{{ store.name }}</h3>
        </div>
        <div class="mt-4">
            <ul class="list-group text-center">
                {% for menu in menus %}
                    <li class="list-group-item">
                        <div class="d-flex row">
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'img/img_onerror.jpeg' %}">
                            </div>
                            <div class="d-flex row justify-content-center">
                                <p><a href="{% url 'customer:customer_menu_detail' store_id=store.id menu_id=menu.id %}">{{ menu.name }}</a></p>
                                <p>{{ menu.unit_price|intcomma }}원</p>
                            </div>
                        </div>   
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}